.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(54, 137, 22);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: rgb(27, 25, 25);
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a {
    color: rgb(81, 243, 5);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a {
    color: rgb(218, 187, 187);
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: rgb(14, 13, 13);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

body {
	font: 24px Verdana, Arial, Helvetica, sans-serif;
	color: #f6f3f3;
	margin: 0px;
	padding: 10px 10px 0px;
	background:#961616;
	background-image:url("images/afyacenter.jpg");
}
.textfield {
	font-size: 11px;
	color: #333333;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	padding-left: 1px;
}
.bottom_addr {
font-size: 11px;
color: #000;
padding: 5px 0 12px 0; 
text-align:center; 
font-size:10px;
}
h1 {
	color: #620a8b;
	margin: 0px 0px 5px;
	padding: 0px 0px 3px;
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed red;
	text-align:center;
}
h3{
	color:rgb(204, 0, 255);
	}
h4{
	color:rgb(8, 168, 24);
	}
a {
	color: #2D3954;
	font-size: 11px;
}
a:hover {
	color: #99CC00;
}
.err {
	color: #FF9900;
}
.news {
	color:red;
	font-size: 22px;
}
th {
	font-weight: bold;
	text-align: left;
}
#page{
width:1000px;
margin:0 auto; 
margin-top:50px;
padding-top:0px;
background: beige;
height:auto;
}

#header{
text-align:center;
background:#f9dec7;
}

#header{
	font-size:20px;
}
#container{
border:#bd6f2f solid 1px;
padding:4px 6px 2px 6px;
width:970px; 
margin:0 auto; 
background:#fff6f3;  
font-size:12px; 
text-align:justify;
margin-top:20px;
}
#footer{
width:1000px; 
margin:0 auto; 
margin-top:20px;
background:#f9dec7;
}
#logo {
    background: url("images/CUK.jpg") 0 0 no-repeat;
    width: 268px;
    height: 96px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}
#icon {
    background: url("images/Godwin.jpg");
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}
h5 { color: #0a44c2;

}
button{
	color: #c20a0a;
	
}


.Nominies{
	display: flex;
	flex-wrap: wrap;
}
.checkbox{
	width: 24%;
	padding: 5px;
}
.checkbox{
	width: 100%;
	height: auto;
}


@media (max-width: 1200px) {
	.checkbox{
		width: 23%;
	}
}

@media (max-width: 992px) {
	.checkbox{
		width: 31.33%;
	}
}

@media (max-width: 768px) { 
	.checkbox{
		width: 48%;
	}
}

@media (max-width: 576px) {
	.checkbox{
		width: 100%;
	}
}